### Python ###
# virtual environment
backend/venv/
# django
backend/db.sqlite3
backend/django_project/__pycache__/

### Nodejs ###
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
# testing
frontend/coverage
# production
frontend/build
# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
# log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

